.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 12px; /* To add space between items */
    height: 200px;
    
}

.card{
    margin: 12px;
}


.Box{
    width: 150px;
    height: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.box{

       border: 2px solid red;
       margin: 12px;
}